/*
css/common.css
Site-wite attributes
*/

html{
  background: #eeeeee;
}


body{
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-kerning: auto;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #444;
}

em{
  font-style: normal;
}


.photo{
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.photo a{
    border-bottom: 1px solid #7a0000;
    color: #444;
}
.photo > a:hover{
    border-bottom: 1px solid #444;
}

.foreword{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

img{
  padding-bottom: 10px;
}


.main-wrapper{
  width: 60%;
  margin: 120px auto;
}

.const-message{
  width: 35%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

a{
  text-decoration: none;
  color: #7a0000;
}

.error-message{
  line-height: 26px;
}

a:hover{
  text-decoration: none;
  color: #444;
}

.footer{
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 14px;
  margin-top: 15px;
  line-height: 14px;
}

.footer a{
  color: #444;
}

.footer a:hover{
  text-decoration: underline;
}

.greet h1{
  font-family: Oranienbaum,serif;
  font-size: 50px;
}

h1{
  font-family: Oranienbaum, "Bodoni", "Didot",serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 40px;
}

h2{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

h3{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 50px;
}

blockquote{
  margin-left: 0;
  font-style: italic;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

/* Icon Float */
.hvr-icon-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-float .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-float:hover .hvr-icon, .hvr-icon-float:focus .hvr-icon, .hvr-icon-float:active .hvr-icon {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.IPA{
  font-family: Gentium,'Gentium Plus',GentiumAlt,'DejaVu Sans','Segoe UI','Lucida Grande','Charis SIL','Doulos SIL','TITUS Cyberbit Basic','Code2000','Lucida Sans Unicode',sans-serif;
  font-weight: inherit;

}

.end-notes{
  margin-top: 25px;
  background: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "IBM Plex Sans", Helvetica,sans-serif;
  line-height: 20px;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  line-height: normal;
  font-family: "IBM Plex Sans", Helvetica,sans-serif;

}

th, td {
  text-align: left;
  font-size: 12px;
  padding: 10px;

}

tr{  background: #fafafa;}

th {
  background-color: #7e8087;
  color: white;
}

tr.conj-div{
  background: #d4d4d4;
  font-style: italic;
}


.example{
  line-height: 14px;
  font-size: 14px;
  border: none;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;

}

.form-contact{
  padding-top: 20px;
  padding-bottom: 20px;

}


input, textarea{
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

textarea{
  height: 150px;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
}

button[type=submit] {
  background-color: #800000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Georgia,serif;
  font-size: 18px;
}

.submit-disclaimer{
  margin: 20px 0;
}

@media screen and (max-width:480px) {
  .footer{
    font-size: 10px;
  }
  .const-message{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }
}


/* The Overlay (background) */
.overlay {
 /* Height & width depends on how you want to reveal the overlay (see JS below) */
 height: 100%;
 width: 0;
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 background-color: #7a0000;
 overflow-x: hidden; /* Disable horizontal scroll */
 transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
 position: relative;
 color: white;
 top: 10%; /* 25% from the top */
 text-align: center; /* Centered text/links */
 margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
 padding: 8px;
 text-decoration: none;
 font-size: 20px;
 font-weight: 300;
 color: white;
 display: block; /* Display block instead of inline */
 transition: 0.3s; /* Transition effects on hover (color) */
   font-family: "IBM Plex Sans", sans-serif;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
 color: white;
 text-decoration: underline;
}

.open-nav{
  font-size:30px;
  font-weight: 300;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
 position: absolute;
 top: 20px;
 right: 45px;
 font-size: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}

.overlay-header{
  font-family: "Oranienbaum", "Didot",serif;
  font-size: 40px;
  padding-bottom: 40px;
}

.languages{
  margin: 40px 20%;
}

.languages a{
  width: 33%;
  margin: auto;
  margin-bottom: -40px;
  display: inline;
}

.social a{
  display: inline;
  margin-top: 0;
}

.social a:hover{
  text-decoration: none
}

.overlay > .social{
  margin-top: 0
}
