/*
css/common.css
Site-wite attributes
*/

@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

::selection {
  background: #e86100; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #e86100; /* Gecko Browsers */
  color: #fff;
}


body{
  font-kerning: auto;
  font-weight: 400;
  font-size: 16px;
  line-height:24px;
  letter-spacing:0.002em;
  text-rendering: optimizeLegibility;
  color: #fff;
  background: #222;
  margin: 0;
  height: 100%;
}

pre{
  font-family: inherit;
}

.hide{
  display: none;
  margin: none;
  padding-top: 0;
  border-top: none;
}

.cite{
  text-align: right;
}

.epigraph{
    font-size: 90%;
    margin-bottom: 10px;
    margin-left: 20%;
}



.epigraph-long{
    font-size: 12px;
    line-height:98%;
    margin-bottom: 0;
    margin-left: 20%;
}


.epigraph-cite{
  font-style: normal;
  text-align: left;
  margin: 0;
  margin-left: 60px;
}

.epigraph-cite-author{
  text-transform: uppercase;
  font-size: 85%;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.5;
  font-style: normal;
}

.post-twitter-link{
  margin-top:20px;
}

.photo{
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 90%;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  z-index : 1;

}

.photo > a:hover{
    color:#e86100;
}

.photo:after{
  content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 15%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid #888;
  }

.photo-full-width img{
    display: block;
    margin: 30px 0;
    width: 100vw;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.foreword:before{
  content: "";
  display: block;
  width: 15%;
  padding-bottom: 10px;
  border-top: 5px solid  #444;
  padding-top: 10px: 
}

.poetry:before{
  content: "";
  display: block;
  width: 25%;
  padding-bottom: 10px;
  border-top: 5px solid  #ddd;
  padding-top: 10px;
  margin-left:-10px;
}

.poetry{
  padding-left:15px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;
  font-size: 90%;
}

.foreword{
     font-size: 90%;
    line-height: 20px;
    font-weight: 400;
}

.med-grey{
  color: #aaa;
}

img{
  padding-bottom: 10px;
  width: 100%;

}

return-landing a{
  color:#444;
  font-size:90%;
}


.main-wrapper{
  width: 60%;
  height: 100%;
  margin: 120px auto;
}

.dl-cv{
    font-size: 12px;
    color: #888;
    line-height: 18px;
    font-weight:400;
}

.dl-cv a{
  color:#888;
  font-weight:400;
}

.const-message{

  padding-bottom: 30px;
}

a{
  text-decoration: none;
  font-weight:600;
  color:#fff;
}

.error-message{
  line-height: 26px;
}

a:hover{
  color: #e86100;
}


.footer{
      display: block;
    font-size: 12px;
    margin: auto;


}

.footer a{
  color: #444;
  border-bottom: dotted 1px #444;
}

.footer a:hover{
  border-bottom: solid 1px #444;
}

.foottext{
  width: 100%;
}

return-landing {
    text-transform: uppercase;
    font-size: 13px;
    color: #777;
    font-weight: 400;
}

.err-greet{
  margin-top:180px;

}

.home-page{
  margin-top: -30px;
  font-size: 14px;
}
.home-page-mobile{
  margin-top: -20px;
  font-size: 16px;
}

.head-cont{
  margin-bottom: 50px;
}

h1{
  font-size: 2em;
  line-height:1.5em;
  font-weight:600;
}

h2{
  font-size: 1.5em;
  padding-bottom:5px;
  font-weight: 600;
  margin-top:50px;
  line-height:1.5;
}

h3{
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 50px;
}

.cv-company-dets, .cv-other-dets{
  color:#888;
  margin-bottom:20px;
}

.cv-company-dets, .cv-job-description, .cv-other-dets{
  font-size:95%;
}

.cv-company-dets a, .cv-other-dets a{
  font-weight: 400;
  color: #888;
}



blockquote{
  margin-left: -15px;
  font-size: 90%;
  border-left: 3px solid #444;
  padding-left: 15px;
  margin-right: inherit;
 
}

.notes blockquote{
  margin-left: -20px;
  font-style: normal;
  font-size: 80%;
  border-left: none;
  padding-left: 20px;
  line-height: 1.3;
 
}

/* Icon Float */
.hvr-icon-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-float .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-float:hover .hvr-icon, .hvr-icon-float:focus .hvr-icon, .hvr-icon-float:active .hvr-icon {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  color: #7a0000;
}

.IPA{
  font-family: Gentium,'Gentium Plus',GentiumAlt,'DejaVu Sans','Segoe UI','Lucida Grande','Charis SIL','Doulos SIL','TITUS Cyberbit Basic','Code2000','Lucida Sans Unicode',sans-serif;
  font-weight: inherit;

}

.soc-link{
  padding:5px;
  font-size: 125%;
  color: #444;
}

.g-line{
  width: 10%;
}


.end-notes{
  margin-top: 25px;
  background: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: "Open Sans", Helvetica,sans-serif;
  line-height: 20px;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  line-height: normal;
  font-family: "Open Sans", Helvetica,sans-serif;

}

th, td {
  text-align: left;
  font-size: 12px;
  padding: 10px;

}

tr{  background: #fafafa;}

th {
  background-color: #7e8087;
  color: white;
}

tr.conj-div{
  background: #d4d4d4;
  font-style: italic;
}


.example{
  line-height: 14px;
  font-size: 14px;
  border: none;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;

}

.form-contact{
  padding-top: 20px;
  padding-bottom: 20px;

}

.conj{
  padding: 10px;
  background: inherit;
}



input, textarea{
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Source Sans Pro, Open Sans, Helvetica, sans-serif;
}

textarea{
  height: 150px;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
}

button[type=submit] {
  background-color: #800000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}

.submit-disclaimer{
  margin: 20px 0;
}


.post-meta{
    margin-top: 100px;
    margin-bottom: 75px;
    border-bottom: 0.5px solid #CCC;
    border-top: 0.5px solid #CCC;
}

.post-dets{
    border-bottom: 0.5px solid #CCC;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;

}

.post-dets a{
  color: #444;
}

.post-dets div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}

.icons-share{
  letter-spacing: 2px;
  text-align: right;
}

.prev-next{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.post-nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 1;
}

.post-nav-next, .post-nav-prev {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.post-nav-next {
    text-align: right;
    margin-left: 5px;
}
.post-nav-prev{
  margin-right: 5px;
}

.footer-mobile{
  display: none;
}
.home-page a{
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-family: 'Josefin Sans', sans-serif;
}

.home-page-mobile{
  display: none;
}

@media screen and (max-width:480px) {
  .const-message{
    padding-bottom: 20px;
  }

  .footer{
    display: none;
  }
  .footer-mobile{
    display: block;
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .home-page-mobile{
    display: block;
  }
 .home-page{
  display: none;
 }

 .post-nav{
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .post-nav-prev, .post-nav-next{
      flex:100%;
      text-align:left;
      margin:0;
 }

 .post-nav-next{
  padding-top: 20px;
  border-top: 0.5px solid #CCC;
 }

 .post-nav-prev{
  padding-bottom: 20px;
 }

 .hide-on-mobile{
  display: none;
 }

 .epigraph{
    margin-left: 30%;
}

}


