/*
css/common.css
Site-wite attributes
*/

body{
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  font-kerning: auto;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #333;
}

.main-wrapper{
  width: 60%;
  margin: 120px auto;
}

a{
  text-decoration: none;
  color: #306754;
}

a:hover{
  text-decoration: underline;
  color: #306754;
}

.footer{

  color: #333;
  font-weight: 300;
  font-size: 12px;
  margin-top: 15px;
}

.footer a{
  color: #333;
}

h1{
  font-family: "Oranienbaum", "Suranna", "Didot", "Bodoni", serif;
  font-size: 30px;
  font-weight: 400;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

h3{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 50px;
}
