/*
Stylesheet for the content page
*/

html{
  background-color: #306754;
  color: white;
}



.main-wrapper{
  width: 50%;
  margin-top: 80px;

}

.greet h1{
  font-size: 40px;
}


a{
  color: white;
}

.footer {
  color: white;
}

.footer a{
  color: white;
}

.footer a:hover{
  color: white;
}

h1, h2, h3{
  color: white;
}

h2{
  font-weight: 300;
  font-size: 16px;
  padding-top:3px;
  padding-bottom: 3px;
}

.proj-container{
  padding-top: -10px;
  padding-bottom: 15px;
  display: flex
}

.proj-container a:hover{
  text-decoration: none;
    color: white;
    font-style: italic;
}

a:hover + #arr {
  transform:translateX(3px);
  opacity: 1;
  color: inherit;
}


.arrow-appear{
  transition:.2s;
  transform:translateX(0);
  opacity: 0;
  color: white;
}

.arrow-appear:hover{
  transform:translateX(3px);
  opacity: 1;

}

.proj-bin{
  flex:50%;
}

.languages{
  color: white;
  font-weight: 300;
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
}

.languages a:hover{
  text-decoration: none;
  font-style: italic;
  color: white;
}

h1.subname{
 font-size: 22px;
}


@media screen and (max-width:480px) {
  .main-wrapper{
    width: 80%;
  }
}
