li{
    padding-left: var(--font-size);
}

li p{
    margin:0;
}

li ol{
    padding-left: inherit;
}

ol.example{
    padding-left: calc(var(--line-height) * 1.2 );
    -ms-transform: scale(1); 
    -webkit-transform: scale(1); 
    -moz-transform: scale(1);  
    -o-transform: scale(1); 
    transform: scale(1); 

}

ol.example > li {
    counter-increment: example-counter;
}

ol.example{
    list-style: none;
}

.example>li::before {
    content: counter(example-counter) "."!important;
    display: block;
    position: absolute;
    float: left;
    left: 0;
    clear: none;
}

.gloss-block::before{
  content: " ";
  display: inline-block;
  clear: both;
}

div.gloss-block{
  display: inline;
  clear: none;
}


.gloss-block-trl {
    display: block;
    clear: left;
    padding: 0.5em 0;
}

div.unit {
    float: left;
    margin-bottom: 0.3em;
    padding-right: 1.2em;
}

p.en {
    margin: 0em;
    font-size: var(--var-font-size);
}
p.ird {
    margin: 0em;
}

.ir, .ird{
    font-style: italic;
}

.gloss{
    font-family: var(--small-caps-font);
    font-size: var(--font-size);
}

th, td {
    text-align: left;
    padding: 5px 0;
}

table {
    border-bottom: 1px solid var(--var-color-gray);
    border-top: 1px solid var(--var-color-gray);
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 1px solid var(--var-color-gray);
}
