html { 
    counter-reset: example-counter; 
}

li{
    padding-left: var(--font-size);
}

li p{
    margin:0;
}

.example > li {
    counter-increment: example-counter;
}

.example > li::marker {
    content: counter(example-counter) ".";
}

.gloss-block::before{
  content: " ";
  display: inline-block;
  clear: both;
}

div.gloss-block{
  display: inline;
  clear: none;
}


.gloss-block-trl {
    display: block;
    clear: left;
    margin: 0 -0.5em;
    padding: 0.5em 0;
}

div.unit {
    float: left;
    margin-bottom: 0.3em;
    margin-left: -0.5em;
    padding-right: 1em;
}

div.ex-cont{
    max-width: 55%
};

p.en {
    margin: 0em;
    padding: 0 0.5em;
    font-size: var(--var-font-size);
}
p.ird {
    margin: 0em;
    padding-right:0.5em;
}

.ir, .ird{
    font-style: italic;
}

.gloss{
    font-family: var(--small-caps-font);
    font-size: var(--font-size);
}

th, td {
    text-align: left;
    padding: 5px 0;
}

table {
    border-bottom: 1px solid var(--var-color-gray);
    border-top: 1px solid var(--var-color-gray);
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 1px solid var(--var-color-gray);
}
