@import url("main.css");

p.breakAfter{
  margin-bottom:2em;
}


table {
  border-collapse: collapse;
  background-color: white;
  overflow: scroll;
  width: inherit;

  border-radius: 10px;
}

th, td {
  font-family:'Didact Gothic', sans-serif;
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

th {
  background-color: #7691ab;
  color: white;
}
