/* online index */
.chapter-container{
  padding: 10px 0;
}

.chapter-title{
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.index-subsection-links{
  color: #777;
}

/* grammar pages */
.grammar-nav {
    border-bottom: 2px solid;
    border-top: 2px solid;
    color: #777;
    padding: 8px 0;
}

.grammar-nav-sec {
    display: inline;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}

.grammar-nav a{
  color: #777;
}

.grammar-nav a:hover{
  color: #0062cc;
  text-decoration: none;
}

table{
  margin: 20px 0;
}

table.full-wd{
  width: 100%;
}

table.mid-wd{
  width: 75%;
}

table {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 1px solid;
}

th, td{
    padding: 5px;
    text-align: left;
}

th{
  
