

body{
	font-family:"Raleway";
}

.main{
	margin: 5% 25% 0% 25%;
}

@media screen and (max-width: 600px) {
  .main {
    margin: 5% 5% 0% 5%;
  }
  div.off-item{
  	font-size: 18px;
  	margin-bottom: 25px;
  	background: #add8e6;
  	padding-top: 20px;
  }
 div.off-title{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 40px;
  }
  div.blurb{
  	margin: 10px 10px 60px 10px;
  }
  div.offpers{
  	background: #add8e6;
  }
   
}

a{
	color:#00468C;
}

.blurb{
	font-size: 20px;
	text-align: center;
	margin: 45px 20px;
	font-family: "Raleway";
}

.off-item{
	font-family: "Open Sans";
	font-size: 16px;
	text-align: center;
}

.off-title{
	font-size: 20px;
	font-weight: 200px;
	margin-bottom: 15px;
}

.get-quote{
	margin:18px 0;
}

.footnotes{
	color:gray;
	font-size: 15px;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	margin-bottom: 15px; 
}