/*
Stylesheet for the landing page
*/

.social{
  margin-top: 30px;
  margin-bottom: 60px;
}


.social a{
  text-decoration: none;
}


.blurb{
  width: 60%;
  font-size: 14px;
}

.homenav{
  text-transform: uppercase;
    font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 60px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-stretch: ultra-expanded;
}

.homenav a:hover{
    border-bottom: 3px solid #7a0000;
}

.landing-blurb{
  font-family: 'Josefin Sans', sans-serif;
}

.main-wrapper{
  text-align: center;
}

.arrow-down-home{
  font-size: 30px;
  padding-top: 50px;

}

.arrow-down-arrow{
    animation: slide1 1s ease-in-out infinite;
}


@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

#hidden{
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  margin:auto;
  line-height:20px;
}


@media screen and (max-width:480px) {
  .main-wrapper{
    width: 90%;
  }
  #hidden{
    padding-top: 50px;
    padding-bottom: 0;
    width: 95%;}
}

.arrow-down-home{
  padding-bottom:0px;
}
