/*
Stylesheet for the landing page
*/


.social{
  margin-top: 6em;
  margin-bottom: 1em;
}

.social img{
  height:25px;
  width: 25px;
}

.social a{
  text-decoration: none;
}

.social img {
  padding-right: 0.5em;
}

.blurb{
  width: 60%;
  font-size: 14px;
}

.homenav{
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 16px;
  font-weight: 300;
  font-stretch: ultra-expanded;
}



.main-wrapper{
  text-align: center;
}
