/*
Stylesheet for the landing page
*/

.main-greet{
     display: block;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1.5px;
}


.social{
  margin-top: 30px;
  margin-bottom: 60px;
}


.social a{
  text-decoration: none;
}


.blurb{
  width: 60%;
  font-size: 14px;
}


.homenav{
  text-transform: uppercase;
    font-size: 12px;
  letter-spacing: 2px;
  padding-top: 60px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-stretch: ultra-expanded;
}

.homenav-link{
  padding-right:8px;
}

.start-message{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  margin:auto;
  line-height:1.5;
}


@media screen and (max-width:480px) {
  .main-wrapper{
    width: 90%;
  }
  .start-message{
    padding-top: 50px;
    padding-bottom: 0;
    width: 95%;}
}

.arrow-down-home{
  padding-bottom:0px;
}
