
body{
  font-family: "Open Sans", sans-serif;
  margin: 85px auto;
  width: 60%;
  color: #333;
}

.navup{
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}

a{
  text-decoration: none;
  color: #306754;
  font-weight: 400;
  text-decoration: none;
}

a:hover{
  color: #306754;
  border-bottom: 1px dotted #000;
}

.back-to-index {
  font-size: 90%;
}
.footer{
  color: #333;
  font-weight: 300;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-top: 1em;
}

.word{
  font-size: 20px;
  padding-top: 1em;
}

table, td, tr{
  width: inherit;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.search-container{
  padding-top:10px;
  padding-bottom: 10px;
  margin-top:20px;
  margin-bottom: 20px;
}


input[type=text]{
  border: none;
  font-size: 20px;

}

h1{
  font-size: 25px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin-bottom: .75em;
  font-weight: 600;
}

blockquote{
  font-size: 14px;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

h3{
  font-size: 18px;
  font-style: italic;
  font-weight: 400
}

.grammartab table, td, tr{
  padding-top: 15px;
  padding-bottom: 15px;
}

caption {
  display: table-caption;
  caption-side: bottom;
  text-align: left;
  font-size: 14px;
  font-style: italic;
}

.caption-head{
  font-style: normal;
  font-weight: 600;
}

.ird{
  font-style: italic;
  font-weight: 600;
}

.IPA{
  font-family: Gentium,'Gentium Plus',GentiumAlt,'DejaVu Sans','Segoe UI','Lucida Grande','Charis SIL','Doulos SIL','TITUS Cyberbit Basic','Code2000','Lucida Sans Unicode',sans-serif;
}

b{
  font-weight: 600;
}
.conj-table{
  font-size: 14px;
  border: 0;
}

.conj-div td{
  background: #d4d4d4;
  font-style: italic;
}

.conj-tabl table{
  border: none;
  border-collapse: collapse;
}

.conj-table table, td,tr, th{
  padding: 10px;
  padding-right: 15px;
  background: #fafafa;
  border: none;
}

.conj-table th{
  font-style: normal;
  font-weight: 600;
  background: #abacae;
}
