
.grammar-list-item{
	margin-top:15px;
	margin-bottom:15px;
	font-size: 16px;

}



li{
	margin-top:10px;
	padding-left: 15px;
	margin-left: -15px;
}

.under-construction-flag {
    margin: 15px 0;
    padding: 10px;
    background: #ffe28a;
    font-weight: 600;
    border: 1px solid #755800;
    color: #755800;
}


.nav{
	margin-top: 30px; 
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}


::selection {
  background: #3D550C; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #3D550C; /* Gecko Browsers */
  color: #fff;
}

@media (max-width: 480px) {
	body{
		margin: 20% 6% 6% 6%;
	}
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 25mm 25mm 25mm 25mm;  
} 
