/*
Stylesheet for pages using the container layout
*/

.meta {
  font-size: 14px;
  font-kerning: normal;
  font-weight: 300;
}

.proj-name a:hover{
  text-decoration: none;
}

a:hover + #arr {
  transform:translateX(3px);
  opacity: 1;
  text-decoration: none;

}



.arrow-appear{
  transition:.2s;
  transform:translateX(0);
  opacity: 0;
  color: #808080;
}

.arrow-appear:hover{
  transform:translateX(3px);
  opacity: 1;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.wrapper{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  line-height: 28px;
  font-family: "Georgia",serif;
  font-size: 16px;
}

.topnav{
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  background: white;
  font-weight: 300;

}
.topnav a{
  padding: 10px;
  display: inline-block;
}

.topnav a:hover{
  text-decoration: none;
  color:  	#808080;
}

.toplogo{
  font-size: 24px;
  color: #333;
  font-family: Oranienbaum, "Suranna", "Didot", "Bodoni", serif;
  padding-bottom: 0;

  text-transform: none;
}

.toplogo a{
  text-decoration: none;
  color: #333;
  font-stretch: ultra-expanded;

}

.toplogo a:hover{
  color: #7a0000;
  text-transform: none;

}

.back-to-proj{
  font-family: "IBM Plex Sans", sans-serif;
  weight: 300;
}


.blog-footer{
    padding-top: 15px;
}

.post-title{
  padding-bottom: 200px;
}

@media screen and (max-width:480px) {
  .wrapper{
    width: 95%;
  }
}
