/*
Stylesheet for pages using the container layout
*/

.meta {
  font-size: 14px;
  font-kerning: normal;
  font-weight: 300;
}

.proj-name a:hover{
  text-decoration: none;
  font-weight: 500;
}

a:hover + #arr {
  transform:translateX(3px);
  opacity: 1;
  text-decoration: none;
  font-weight: 500;
}


.arrow-appear{
  transition:.2s;
  transform:translateX(0);
  opacity: 0;
  color: #306754;
}

.arrow-appear:hover{
  transform:translateX(3px);
  opacity: 1;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.wrapper{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.topnav{
  padding: 10px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background: white;
}
.topnav a{
  padding: 10px;
  display: inline-block;
}

.topnav a:hover{
  text-decoration: none;
  font-weight: 600;
}

.toplogo{
  font-family: "Oranienbaum", "Didot", "Bodoni", serif;
  font-size: 20px;
  padding-bottom: 0;
}

.toplogo a{
  text-decoration: none;
  color: #333;
}

.toplogo a:hover{
  color: #306754;
  font-weight: 400;
}


.blog-footer{
    padding-top: 15px;
}

@media screen and (max-width:480px) {
  .wrapper{
    width: 80%;
  }
}
