/*
Stylesheet for pages using the container layout
*/

.meta {
  font-size: 14px;
  font-kerning: normal;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.proj-name a:hover{
  text-decoration: none;
}

a:hover + #arr {
  transform:translateX(3px);
  opacity: 1;
  text-decoration: none;

}

.bloglist{
  line-height: 18px;
}

.blogdate{
  color: #707070;
  font-size: 15px;
}

.notes{
  font-size: 16px;
}



.arrow-appear{
  transition:.2s;
  transform:translateX(0);
  opacity: 0;
  color: #808080;
}

.arrow-appear:hover{
  transform:translateX(3px);
  opacity: 1;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.wrapper{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  line-height: 28px;
  font-family: "EB Garamond", "Garamond", "Adobe Garamond Pro", serif;
  font-size: 20px;
}


.blog-wrapper p > a{
  color: #444;
  border-bottom: 3px solid #7a0000;
}

.blog-wrapper > p.secstart::first-letter{
  font-size: 75px;
  font-family: Oranienbaum, serif;
}
.blog-wrapper > p.secstart{
  padding-top: 45px;
}



.blog-wrapper a:hover{
  border-bottom: none;

}

.blogdate{
  font-size: 14px;
  color:#444;
}

.tag{
  background: #ccc;
  padding: 5px;
  padding-right: 0.5em;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
}

.tag {
  color: #444;
}

.sans{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}



.tag:hover{
  color: #ccc;
  background: #444;
}

.topnav{
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 12px;
  font-size: 13px;
  text-align: center;
  margin: auto;
  font-weight: 500;
  border-bottom: 0.5px solid #CCC;
  border-top: 0.5px solid #CCC;
  margin-bottom: 120px;
  font-size: 16px;
}



.topnav a{
  display: inline-block;
  padding: 0 10px;
}

.top-link:hover{
  text-decoration: none;
  color:  	#444;
}

footer{
  position:absolute;
bottom:0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.head-wrap{
  background-color:#444;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-style: italic;
  width: 100%;
}


.name-head > a {
  font-family: "Playfair display", "Bodoni", "Didot", serif;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
}

.name-head  > a:hover p.new-label:after{
    content: 'ADD';
}



.toplogo{
  font-size: 24px;
  color: #444;
  font-family: Oranienbaum, "Suranna", "Didot", "Bodoni", serif;
  padding-bottom: 0;
  text-transform: none;
  font-weight: 300;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.toplogo a{
  text-decoration: none;
  color: #444;
  font-stretch: ultra-expanded;

}

.toplogo a:hover{
  color: #7a0000;
  text-transform: none;

}






.back-to-proj{
  font-family: "Open Sans", sans-serif;
  weight: 300;
}


.blog-footer{
    padding-top: 15px;
}

.post-title{
  padding-bottom: 200px;
}


.contact-info{
  margin-top: 14px;
  margin-bottom: 14px;
}

.contact-info span{
    display: block;
}

.contact-info a{
  color: #444;
  text-decoration: none;
  font-weight: 400;
}

.contact-info a:hover{
  color: #444;
  text-decoration: none;
}

.cvsec {
  margin-bottom: 40px;
}

#languages-spoken{
  line-height: normal;
}

.cvsec > h3{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cvsec > h2{
  padding-bottom: 5px;
  border-bottom: 1px dotted #7a0000;
}


.stanza{
  margin-bottom: 16px;
}

@media screen and (max-width:480px) {
  .wrapper{
    width: 88%;
  }
}
