.publish-div{
  border-bottom: 0.5px solid #CCC;
  padding-top: 20px;
  padding-bottom: 20px;

}

.publish-wrap{
  margin-bottom: 12px;
  font-weight: 400;
  border-top: 0.5px solid #CCC;
}

.publish-title{
  margin-bottom: 5px;
}


.publish-title a{
  font-size: 16px;
  font-weight:600;
  letter-spacing: 1;
}

.publish-title a:hover{
  color: #444;
  text-decoration: none;
}



.publish-date{
  color:#444;
  font-size: 12px;
}

article{
  margin-top: 75px;
}

blockquote{
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-right: inherit;
 
}

.post-meta{
    margin-top: 100px;
    margin-bottom: 75px;
    border-bottom: 0.5px solid #CCC;
    border-top: 0.5px solid #CCC;
}

.post-dets{
    border-bottom: 0.5px solid #CCC;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    display: flex;

}

.post-dets a{
  color: #444;
}

.post-dets a:hover{
  color: #7a0000;
}

.post-dets div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}

.icons-share{
  letter-spacing: 2px;
}

.header-wrapper a:hover{
  text-decoration: none;
  color: #7a0000;
}

.header-wrapper a{
  color: #444;
}
.prev-next{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  display: block;
}

.post-nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 1;
}

.post-nav a{
  color: black;
}

.post-nav-next, .post-nav-prev {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.post-nav-next {
    text-align: right;
    margin-left: 5px;
}
.post-nav-prev{
  margin-right: 5px;
}

.ref-block{
  font-size: 13px;  
  margin-top: 40px;
}

.ref-block::before{
  display: block;
  content: "References";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 90%;
}


.gloss-block::before{
  content: " ";
  display: inline-block;
  clear: both;
}

div.gloss-block{
  display: inline;
  clear: none;
}

.gloss-block-trl{
  display: block;
  clear: both;
  padding-top: 10px;
}

div.unit {
    float: left;
    margin-bottom: 0.3em;
    margin-left: -0.5em;
    padding-right: 0.2em;
}
p.en {
    margin: 0em;
    padding: 0em 0.5em;
    font-size: 14px;
}
p.ird {
    margin: 0em;
    padding: 0em 0.5em;
}

.note{
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  margin: 15px 0;
  padding: 15px 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #444;

}

.hanging-indent {
  padding-left: 22px ;
  text-indent: -22px ;
} 

.cite-item{
  margin-bottom:10px;
}

.gloss{
  text-transform: uppercase;
  font-size:80%;
}

@media screen and (max-width:480px) {

  .post-nav{
    padding-top: 20px;
    padding-bottom: 20px;
   }

   .post-nav-prev, .post-nav-next{
        flex:100%;
        text-align:left;
        margin:0;
   }

   .post-nav-next{
    padding-top: 20px;
    border-top: 0.5px solid #CCC;
   }

   .post-nav-prev{
    padding-bottom: 20px;
   }


}
