<section class="foreword">
    <p>
        Abbreviations. Parts of speech: n., noun; v., verb; att., attributive (adjective); adv., adverbial; prep., preposition; par., particle; conj., conjunction; interj., interjection; pron., pronominal; num., numeral; dem., demonstrative; dim., diminutive.
    </p>
    <p>
        Languages: En., English; Fr., French; Ger., German; Gr., Greek; Lat., Latin; Ru., Russian; CS, Common Slavic; OCS, Old Church Slavonic; Pol., Polish; Cz., Czech; Sk., Slovak; Ukr., Ukrainian; Bel., Belarusian; Bul., Bulgarian; Serb., Serbian; Cro., Croatian; Slov., Slovene; Rom., Romanian; A., Ancient.
    </p>
</section>