<footer class="mt-5 pt-5 small">
<hr class="col-12">
    <div class="row py-4 footer">
 
      <div class="col-md-3 pb-3">
          <p><a href="{{ site.url }}/legal">Legal</a></p>
          <p><a href="{{ site.url }}/terms">Terms</a></p>
      </div>
      <div class="col-md-3 pb-3">
          <p><a href="{{ site.url }}/notes">Notes</a></p>
          <p><a href="{{ site.url }}/bookmarks">Bookmarks</a></p>
          <p><a href="{{ site.url }}/work">Work</a></p>
          <p><a href="{{ site.url }}/iridian">Ирцевніи мално</a></p>
          <p><a href="{{ site.url }}/math">Math</a></p>
      </div>
      <div class="col-md-3">

          <p><a href="/contact">Email</a></p>
          <p><a href="{{ site.url }}/feed.xml">RSS</a></p>
               </div>
    </div> 
</footer>
