<footer>
<hr class="footer-hr">
    <div class="footer-wrap">
      <div class="footer-section-logo">
          <a href="{{ site.url }}">
              <img src="https://gimlafraogh.files.wordpress.com/2021/11/logo-med-black.png">
          </a>
      </div>
      <div class="footer-section">
          <p><a href="{{ site.url }}/privacy">Privacy</a></p>
          <p><a href="{{ site.url }}/terms">Terms</a></p>
      </div>
      <div class="footer-section">
          <p><a href="{{ site.url }}/sitemap">Site Map</a></p>
          <p><a href="{{ site.url }}/blog">Blog</a></p>
          <p><a href="{{ site.url }}/bookmarks">Bookmarks</a></p>
          <p><a href="{{ site.url }}/work">Work</a></p>
      </div>
      <div class="footer-section">
          <p><a href="mailto:public-mailbox-02@roelchristian.com" target="_blank" rel="noopener noreferrer">Email</a></p>
          <p><a href="https://twitter.com/roelzinho" target="_blank" rel="noopener noreferrer">Twitter</a></p>
          <p><a href="https://reddit.com/u/roelchristian" target="_blank" rel="noopener noreferrer">Reddit</a></p>
          <p><a href="{{ site.url }}/feed.xml">RSS</a></p>
          <p><a href="https://www.last.fm/user/roelchristian" target="_blank" rel="noopener noreferrer">Last.fm</a></p>
          <p><a href="https://github.com/roelchristian" target="_blank" rel="noopener noreferrer">Github</a></p>
      </div>
    </div> 
</footer>
