<footer>
<hr class="footer-hr">
    <div class="footer-wrap">
      <div class="footer-section-logo">
        <img src="https://gimlafraogh.files.wordpress.com/2021/11/logo-med-black.png">
      </div>
      <div class="footer-section">
        <p>Privacy</p>
        <p>Terms</p>
      </div>
      <div class="footer-section">
        <p>Site Map</p>
        <p>Blog</p>
        <p>Bookmarks</p>
        <p>Work</p>
      </div>
      <div class="footer-section">
        <p>Email</p>
        <p>Twitter</p>
        <p>Reddit</p>
        <p>LinkedIn</p>
        <p>Last.fm</p>
        <p>Github</p>
      </div>
    </div> 
</footer>
