<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} &mdash; Roel Christian Yambao</title>

  <!-- Call landing page stylesheet -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="roelchristian.com RSS" href="/feed.xml">


  <!-- Reference to Google Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+TC|Libre Franklin:400,600|Alegreya Sans SC:400|IBM Plex Mono">

  <!-- Reference to Ponomar Project -->
  <link rel="stylesheet" href="https://slavonic.github.io/css/fonts.css" type="text/css">

  <!-- For mobile scaling-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="https://roelchristian.com/assets/favicon/favicon.png"/>

  <meta name="description" content="{{ page.metadesc }}">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 

</head>
