---
layout: container
title: A Film A Day
permalink: "projects/films"
---


<div class="extlinks">
  <section class="intro-text">
      <p>Test</p>
  </section>
  
  <section class="aside">
    <p>The links below are provided only for your convenience. Although I review them occasionally, I cannot vouch for the accuracy, legality or content of the linked pages.</p>
    <p><span class="ext-link-key"><span class="var-extlink-icon ext-article"></span><span class="ext-key-desc">Article</span></span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-book"></span><span class="ext-key-desc">Book</span></span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-video"></span><span class="ext-key-desc">Video</span></span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-other"></span><span class="ext-key-desc">Other</span></span></p>
  </section>
  
  <section>
    {% for link in site.data.links.links %}
    
      <div class="extlink-container">
        {% if link.category == 1 %}
        <p class="extlink-icon ext-article"></p>
        {% elsif link.category == 2 %}
        <p class="extlink-icon ext-book"></p>
        {% elsif link.category == 3 %}
        <p class="extlink-icon ext-video"></p>
        {% elsif link.category == 4 %}
        <p class="extlink-icon ext-other"></p>
        {% endif %}
        <p class="extlink-description"><a href="{{ link.url }}" rel="noopener noreferrer">{{ link.description }}</a></p>
      </div>
    
    {% endfor %}
  </section>
</div>
