---
layout: page-other
title: Bookmarks &mdash; Roel Christian Yambao
displaytitle: Bookmarks
permalink: "bookmarks"
---


<div class="extlinks">
  <section>
      <p>I&rsquo;m trying to keep track of all the interesting things I come across, whether it&rsquo;s an article from last week&rsquo;s <em>New Yorker</em> or a GIF of a penguin I saw on Reddit or a book I just picked up on the way home after buying groceries. Here are some of them.</p>
  </section>
  
  <section class="aside">
    <p><span class="ext-link-key"><span class="var-extlink-icon ext-article"></span>&nbsp;Article</span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-book"></span>&nbsp;Book</span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-video"></span>&nbsp;Video</span>
    <span class="ext-link-key"><span class="var-extlink-icon ext-other"></span>&nbsp;Other</span></p>
  </section>
  
  <section>
    {% for link in site.data.links.links %}
    
      <p>
        {% if link.category == 1 %}
        <span class="extlink-icon ext-article"></span>
        {% elsif link.category == 2 %}
        <span class="extlink-icon ext-book"></span>
        {% elsif link.category == 2 %}
        <span class="extlink-icon ext-video"></span>
        {% endif %}
        <span class="extlink-description"><a href="{{ link.url }}" rel="noopener noreferrer">{{ link.description }}</a></span>
      </p>
    
    {% endfor %}
  </section>
</div>
