---
permalink: "work"
layout: container
title: Work
---

<section class="intro-text">
<p>Hi, I&rsquo;m Roel! I&rsquo;m passionate about telling stories that matter through data. My main skills include creating data pipelines that transfer raw data to business applications, building machine learning models to automate or support decision making, and designing reports and dashboards to inform stakeholders.</p>
</section>
<section id="cv-links">
  <p><a href="{{site.url}}/me/cv/cv_en.pdf"> Download my CV as a pdf&nbsp;↓</a></p>
</section>

<section>
<h2>Professional experience</h2>

{% for job in site.data.professional-exp.main %}

  <div class="cv-company-div">
    <h3>{{ job.position }}&nbsp;&mdash;&nbsp;<span class="cv-company-name">{{ job.company }}</span></h3>
    <div class="cv-company-dets">
        <div class="cv-company-tenure">{{ job.start }} — {{ job.end }}</div>
    </div>
    <div class="cv-job-description">
        <p>
        <ul>
            {% for item in job.job-desc-list %}
              <li>{{ item.bullet }}</li>
            {% endfor %}
          </ul>
      </p>
    </div>
    </div>

{% endfor %}

</section>

<section>
<h2>Education</h2>

<div class="cv-company-div">
    <h3>Accounting</h3>
    <div class="cv-other-dets">
      <div class="cv-degree">Bachelor&rsquo;s degree</div>
      <div class="cv-educ-inst">Bulacan State University</div>
      <div class="cv-company-tenure">Class of 2017</div>
    </div>
    </div>
  
</section>
<section>
<h2>Licenses and certifications</h2>

<div class="cv-company-div">
    <h3>Data science professional certificate</h3>
    <div class="cv-other-dets">
      <div class="cv-dets-certification">IBM, August 2020</div>
    </div>
</div>

<div class="cv-company-div">
    <h3>Six Sigma yellow belt (Continuous Improvement)</h3>
    <div class="cv-other-dets">
      <div class="cv-dets-certification">Infosys, December 2019</div>
    </div>
</div>

</section>

<section>
<h2>Languages</h2>

<p>English</p>
<p>Filipino</p>
<p>Spanish <span class="med-grey">&nbsp;—&nbsp;professional working proficiency</span></p>
<p>Portuguese <span class="med-grey">&nbsp;—&nbsp;professional working proficiency</span></p>
<p>French <span class="med-grey">&nbsp;—&nbsp;professional working proficiency</span></p>
<p>Italian <span class="med-grey">&nbsp;—&nbsp;intermediate working proficiency</span></p>
<p>German <span class="med-grey">&nbsp;—&nbsp;limited working proficiency</span></p>
</section>
