---
permalink: "work"
layout: container
title: Work
---

<section class="intro-text">
  <p>I’m a data analytics professional with five years of industry experience focusing on data architecture and management, artificial intelligence and cloud-native solutions. I am passionate about telling stories that matter through data, through which I help businesses transform into data-driven organizations.</p>
  </section>
<section>
<h2>Professional experience</h2>
<p class="cv-links"><a href="{{site.url}}/me/cv/cv_en.pdf"> Download my CV as a pdf&nbsp;↓</a></p>

{% for job in site.data.professional-exp.main %}

<div class="cv-company-div">

  <h3>{{ job.company }}</h3>
  {% for role in job.positions %}

  <div class="cv-role-div">

    <h4>{{ role.title }}</h4>

    <p class="cv-role-dates">
      {{ role.start-date }} &ndash; {% if role.end-date=="" %}present{% else %}{{ role.end-date }}{% endif %}
    </p>

    <ul class="cv-role-list">

      {% for item in role.job-desc-list %}

      <li>{{ item}}</li>

      {% endfor %}

    </ul>

  {% endfor %}

</div>

{% endfor %}

</section>

<section>
<h2>Education</h2>

<div class="cv-company-div">
    <h3>Accounting (BS)</h3>
    <div class="cv-other-dets">
      <div class="cv-degree">Bachelor&rsquo;s degree</div>
      <div class="cv-educ-inst">Bulacan State University</div>
      <div class="cv-company-tenure">Class of 2017</div>
    </div>
    </div>
  
</section>
<section>
<h2>Licenses and certifications</h2>

<div class="cv-company-div">
    <h3>Data science professional certificate</h3>
    <div class="cv-other-dets">
      <div class="cv-dets-certification">IBM, August 2020</div>
    </div>
</div>

<div class="cv-company-div">
    <h3>Six Sigma yellow belt (Continuous Improvement)</h3>
    <div class="cv-other-dets">
      <div class="cv-dets-certification">Infosys, December 2019</div>
    </div>
</div>

</section>

<section>
<h2>Languages</h2>

  <p>English, Filipino, Spanish, Portuguese, French</p>
</section>
