---
layout: container
title: Dictionary - Alphabetical Index
irdsec: "Dictionary"
---

<form action="/search" method="get">
  <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
</form>

<section id="search-results" style="display: none;">

  {% raw %}
  <script id="search-results-template" type="text/mustache">
    {{#entries}}
      <article>
        <h3>
          {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
          <a href="{{url}}">{{title}}</a>
        </h3>
        {{#is_post}}
        <ul>
          {{#tags}}<li>{{.}} </li>{{/tags}}
        </ul>
        {{/is_post}}
      </article>
    {{/entries}}
  </script>
  {% endraw %}

</section>


<div class="alph-list" style="margin-bottom:1.5em">
  {% for head in site.data.entries.main %}
  <span><a href="/ird/dictionary/entry/{{ head.sortunder }}">{{ head.sortunder | capitalize }} </a></span>
  {% endfor %}
</div>

<!-- List all words -->
{% for head in site.data.entries.main %}
  {% for word in head.words %}
      <a href="/ird/dictionary/entry/{{ head.sortunder }}/{{ word.entry }}">
        {{ word.entry }}
      </a><br/>
  {% endfor %}
{% endfor %}

<div class="back-to-index">
  <p  style="margin-bottom:1.5em"><a href="../">&lt; Back to Home Page</a>
</p>
</div>

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl  : '/js/index.json',           // url for the .json file containing search index data
      results   : '#search-results',          // selector for containing search results element
      template  : '#search-results-template', // selector for Mustache.js template
      titleMsg  : '<h1>Search results<h1>',   // message attached in front of results (can be empty)
      emptyMsg  : '<p>Nothing found.</p>'     // shown message if search returns no results
    });
  });
</script>

<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
