---
layout: container
title: Stuff I Like &mdash; Roel Christian Yambao
namespace: Links to Stuff I Like
permalink: "links"
---

<div class="namespace">
    <h1>{{page.namespace}}</h1>
</div>

<div class="extlinks">
  {% for subname in site.data.links.main %}
    <div class="subname"><h2>{{ subname.sub | capitalize}}</h2></div>
    <ul>
      {% for item in subname.gohere %}
        <li><a href="{{ item.siteurl }}" target="_blank" rel="noreferrer">{{ item.sitealias }}. <i class="fa fa-external-link" style="font-size:10px;"></i>
 </a> {{ item.description }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
