---
layout: page-other
title: Bookmarks &mdash; Roel Christian Yambao
displaytitle: Bookmarks
permalink: "links"
---


<div class="extlinks">
  
  <section>
    {% for link in site.data.links.links %}
    
      <p>
        {% if link.category == 1 %}
        <span class="extlink-icon-article"></span>
        {% elsif link.category == 2 %}
        <span class="extlink-icon-book"></span>
        {% elsif link.category == 2 %}
        <span class="extlink-icon-video"></span>
        {% endif %}
        <span class="extlink-description"><a href="{{ link.url }}" rel="noopener noreferrer">{{ link.description }}</a></span>
        <span class="extlink-date">{{ link.date | date: "%Y-%m-%d"}}</span>
      </p>
    
    {% endfor %}
  </section>
</div>
