
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root{
  font-family: "IBM Plex Sans", sans-serif !important;
  /* ligatures and contextual alternates */
  font-feature-settings: "calt" 1;
  -webkit-font-feature-settings: "calt" 1;
  -moz-font-feature-settings: "calt" 1;
  --main-font: "Inter", sans-serif;
  --small-caps-font: "Alegreya Sans SC", sans-serif;
  --mono-font: "IBM Plex Mono", Consolas;
  --cyrillic-font: "Merriweather", sans-serif;
  --main-bg-color:  #fffff8;
  --main-color: #171717;
  --var-color-gray: #888;
  --var-color-dark-gray: #2d2d2d;
  --darkmode-bg-color: #222;
  --darkmode-color: #ddd;
  --accent-color-light-gray: #d5d5d5;
  --accent-color-orange: #d18700;
  --accent-color-dark-orange: #ab6700;
  --accent-color-brown: #795b3d;
  --accent-color-amber: #FFBF00;
  /* crimson */
  --accent-color-red: #A51C30;
  --accent-color-red-dark-mode: #F05C79;
  --accent-color-blue: #0366d6;
  --accent-color-blue-dark-mode: #9ac9fe;
  --font-size: 16px;
  --var-font-size: 13px;
  --var-larger-font-size: 20px;
  --var-header-size: 24px;
  --footnote-size: 11px;
  --line-height: calc(var(--font-size) * 1.5);
  --var-line-height: calc(var(--var-font-size) * 1.5);
  --var-larger-line-height: calc(var(--var-larger-font-size) * 1.35);
  --var-block-bg-color: rgba(197, 202, 193, 0.1);
  --var-block-field-color: rgba(197, 202, 193, 0.3);
  --var-block-button-color: rgba(197, 202, 193, 1);
  letter-spacing: -0.01em;
}


body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: var(--font-size) !important;
  line-height: var(--line-height) !important;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.ext-article{
    color: var(--accent-color-amber);
  }
  
  .ext-book{
    color: var(--accent-color-blue);
  }
  
  .ext-video{
    color: var(--accent-color-red);
  }
  
  .ext-other{
    color: var(--var-color-gray);
  }


.hangind{
  padding: 1em 0;
}
  
.hangind p, p.hangind{
  padding-left: 20px;
    text-indent: -20px;
    margin:0;
}

.hangind p { counter-increment: line 1;}

.hangind p:nth-of-type(5n)::after {
  content: counter(line);
  font-weight: 300;
  font-size: var(--var-font-size);
  color: var(--var-color-gray);
  position: absolute;
  right: 50%;

}
