/* This stylesheet is forked from the Tufte CSS project */

@charset "UTF-8";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root{
  --main-font: "Inter", sans-serif;
  --small-caps-font: "Alegreya Sans SC", sans-serif;
  --var-serif-font: serif;
  --title-font: "Raleway";
  --mono-font: "IBM Plex Mono", Consolas;
  --main-bg-color:  #fffff8;
  --main-color: #171717;
  --var-color-gray: #888;
  --darkmode-bg-color: #222;
  --darkmode-color: #ddd;
  --accent-color-light-gray: #a9a9a9;
  --accent-color-orange: #d18700;
  --accent-color-dark-orange: #ab6700;
  --accent-color-brown: #795b3d;
  --accent-color-amber: #FFBF00;
  --accent-color-red: #E32227;
  --accent-color-blue: #0476D0;
  --font-size: 14px;
  --var-font-size: 12px;
  --var-larger-font-size: 18px;
  --var-header-size: 26px;
  --footnote-size: 11px;
  --line-height: calc(var(--font-size) * 1.5);
  --var-line-height: calc(var(--var-font-size) * 1.5);
  --var-larger-line-height: calc(var(--var-larger-font-size) * 1.35);
  --var-block-bg-color: rgba(197, 202, 193, 0.1);
  --var-block-field-color: rgba(197, 202, 193, 0.3);
  --var-block-button-color: rgba(197, 202, 193, 1);
}

:lang(zh){
  font-family: "Noto Serif TC", serif;
}

:lang(jp){
  font-family: "Noto Serif TC", serif;
}


::selection {
  color: black;
  background: #EEEDE7;
}

::-moz-selection {
  color: black;
  background: #EEEDE7;
}



body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    max-width: 1400px;
    counter-reset: example-counter sidenote-counter;
    line-height:var(--line-height);
  
}

article{
    counter-reset: example-counter;
}

.homepage-nav a,
#cv-links a,
.cv-company-dets a {
  border-bottom: none;
  color: inherit;
}

h4 {
  font-weight: 500;
  color: inherit;
  margin: 0;
}

.cv-role-subdiv p {
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
  margin: 0;
  margin-top: 3px;
  color: var(--var-color-gray);
}


.landing-intro {
    font-weight: 550;
    font-size: var(--var-larger-font-size);
    line-height: 1.1;
    letter-spacing: -0.01rem;
    margin: 10px 0;
}

.homepage-nav-container{
  margin-bottom: 50px;
}

.nav-home {
    position: fixed;
    top: 6.5rem;
    left: 3rem;
}

.nav-home img {
    width: 30px;
}

  .nav-home-mobile {
    display: none;
}



#extra-bio-start {
  margin-top: 50px;
  color: var(--main-bg-color);
}

.arrow-bob-animation-vertical {
  display: inline-block;
  animation: bob-arrow 1s linear infinite;
  -webkit-animation: bob-arrow 1s linear infinite;
}

@keyframes bob-arrow {
  0%, 100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(3px);
  }
}

@-webkit-keyframes bob-arrow {
  0%, 100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(3px);
  }
}


/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--darkmode-bg-color);
        color: var(--darkmode-color);
    }
    
    div.theorem-block {
      border: #444 2px solid; 
      padding: 0 20px ;
      background-color: #262626;
      margin: 20px 0;
      color: #ccc;
    }

    ::-moz-selection { /* Code for Firefox */
      color: white;
      background: #333;
    }

    ::selection {
      color: white;
      background: #333;
    }
  
    #extra-bio-start {
      color: var(--darkmode-bg-color);
  }
}

h1 {
    font-weight: 600;
    font-size: var(--var-header-size);
    line-height: 35px;
    margin-top: 0;
}

.non-post h1 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
    margin: 0;
    text-transform: uppercase;
    color: var(--var-color-gray);
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 500;
    font-family: var(--main-font);
    margin-top: 3em;
    margin-bottom: var(--line-height);
    font-size: var(--var-larger-font-size);
    line-height: var(--var-larger-line-height);
}

h3 {
    font-weight: 600;
    font-size: var(--font-size);
    margin-top: calc(var(--line-height*1.2));
    margin-bottom: var(--line-height);
    line-height: var(--line-height);
    color: var(--var-color-gray);
}

section h3:not(:first-of-type) {
    margin-top: 4em;
    margin-bottom: 0;
}

h3.small-h3 {
    color: inherit;
    font-size: inherit;
    margin-top: 3rem;
    margin-bottom: auto;
    font-weight: 500;
}

h2.header-num{
    font-weight: 500;
    margin-top: 3em;
    margin-bottom: var(--line-height);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--var-color-gray);
}

.sec-subtitle{
  display: inline;
  color: var(--var-color-gray); 
  padding-left: 5px;
}

.h2-with-sub, .sec-subtitle {
  font-size: inherit;
  font-weight: 600;
} 

.h1-flourish{
  width: 40px;
  border-top: 4px solid;
  margin-bottom: 10px;
}


hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid;
    border-color: inherit;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-weight: 550;
    color: var(--var-color-gray);
    display: block;
    line-height: var(--line-height);
    margin: 0;
}

.post-details{
  margin-bottom: 50px;
}

sub{
  font-size: var(--var-font-size);
}

table{
  font-size: var(--var-font-size);
}

table.mid-wd {
    width: 35%;
}


.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.post section {
  padding-top: 1.5rem;
}

p,
dl,
ol,
ul {
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: -0.01em;
}

p {
    padding-right: 0;
    vertical-align: baseline;
}

.foreign-text{
  font-style: italic;
}

/* Chapter Epigraphs */
.epigraph{
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
  padding: 45px 0 15px 15px;
}

.epigraph p {
  margin: 0
}

.epigraph-cite {
   padding-left: 15px;
}

/* end chapter epigraphs styles */

blockquote {

    margin-left: 15px;
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
    
}

.large {
    font-size: var(--var-larger-font-size);
    line-height: var(--var-larger-line-height);
}

.normal {
    font-size: initial;
    line-height: initial;
}

blockquote p {
    width: 55%;
}

blockquote footer {
    width: 55%;
    font-size: var(--font-size);
    text-align: right;
}

.sidenote-quote{
  display: block;
  margin: 10px 0 0 10px;
}

section > p,
section > footer,
section > table,
section > div.theorem-block,
section > div.example-block {
    width: 55%;
}

.in-text-nav {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul,
.cv-company-div ul {
    width: 50%;
    padding: 0 0 0 20px;
}

li {
  padding: 3px 0 0 0;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 30px 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
    padding-top: 15px;
    color: var(--var-color-gray);
}

a {
  color: var(--var-color-gray);
  text-decoration: none;
  font-weight: 600;
}

a:hover{
  text-decoration: underline;
  color: var(--accent-color-light-gray);
}



/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
    filter: grayscale(90%);
}

img:hover {
  filter: grayscale(0);
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: var(--footnote-size);
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: var(--footnote-size);
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: var(--sans-font), sans-serif;
}

.sans {
    font-family: var(--sans-font), sans-serif;
    letter-spacing: .03em;
}

.reference-block {
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
  color: var(--var-color-gray);
}

.theorem-head{
  font-weight: 550;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: var(--var-font-size);
}

.theorem-block {
  border: #777 1px solid; 
  padding: 0 20px ;
  background-color: #EEEDE7;
  margin: 20px 0;
  border-radius: 8px;
}

.cayley-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cayley-table td, .cayley-table th {
  border: 1px solid #777;
  padding: 8px 15px;
}



code, pre > code {
    font-family: var(--mono-font), Consolas, Menlo, Courier, monospace;
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: var(--font-size);
}

h1 > code,
h2 > code,
h3 > code {
    font-size: var(--font-size);
}

.marginnote > code,
.sidenote > code {
    font-size: var(--var-font-size);
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

pre.poetry-prefm {
  font-size: inherit;
  font-family: var(--main-font);
}

.stanza{
  padding-bottom: 1em;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}


input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.in-text-nav {
    font-size: var(--var-font-size);
    display: inline-flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.publish-date {
    color: var(--var-color-gray);
    display: block;
    font-size: var(--var-font-size);
    font-weight: 500;
}

.publish-title {
  font-weight: 500;
}

.publish-title a {
  color: inherit;
  text-decoration: none;
}

.publish-title a:hover {
  text-decoration: underline;
  color: var(--accent-color-light-gray);
}

.publish-div {
  padding-top: 20px;
  line-height: var(--line-height);
}

.publish-wrap-year::before {
    content: "";
    width: 20px;
    border-bottom: 2px solid;
    position: absolute;
}

.publish-wrap-year {
  margin: 80px 0;
}

.publish-wrap-year h2 {
  font-weight: 600;
  font-size: var(--font-size);
  margin: 0;
  padding: 10px 0;
}

.hangind {
  padding: 1em 0;
}
  
.hangind p{
  padding-left: 20px;
    text-indent: -20px;
    margin:0;
}

.intro-text p {
    letter-spacing: -0.02em;
    margin: 0;
}

.cv-header {
  margin-bottom: 0;
}

.cv-role-list li {
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
  color: var(--var-color-gray);
}

p.cv-links {
    font-size: var(--var-font-size);
    letter-spacing: 0em;
    color: var(--var-color-gray);
    margin: 15px 0;
}

.cv-links a {
    text-decoration: none;
}

.cv-links a:hover {
    text-decoration: underline;
  color: var(--accent-color-light-gray);
  
}

.cv-other-dets {
  color: var(--var-color-gray);
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
  font-weight: 400;
}

.cv-company-name {
  color: var(--var-color-gray);
}


.cv-company-dets a{
  text-decoration: none;
}

.cv-company-div h3 {
    color: inherit;
    padding-top: 2.5rem;
    margin-bottom: 0;
}


.foreword p, .aside p {
  font-size: var(--var-font-size);
  color: var(--var-color-gray);
  line-height: var(--var-line-height);
}

.postscript p {
  color: inherit;
  font-size: var(--var-font-size);
  line-height: var(--var-line-height);
}

section.postscript{
  padding-top: 1.5rem;
}

section.postscript::before{
  content: "Postscript";
  font-size: var(--var-font-size);
  color: var(--var-color-gray);
  line-height: var(--var-line-height);
  font-weight: 600;
}

.extlink-container {
  display: grid;
  grid-template-columns: 15px 50fr;
}

.extlink-container p{
  margin-bottom: 0;
}

.extlink-icon {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;
}

.var-extlink-icon {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
}

form {
  margin: 0;
  padding: 5px 30px;
  background-color: #262626;
  border: #444 1px solid;
  width: 55%;
}

.form-group{
  margin: 1rem 0;
  display: block;
}

.form-group label, .form-group input, .form-group textarea {
  display: block;
  width: 98%;
  padding: 0.5rem 0;
}

.form-group textarea {
  resize: none;
  height: 100px;
}
.form-group input[type=text], .form-group textarea, .form-group input[type=email] {
  border: none;
  background-color: var(--var-block-field-color);
}



.form-group input[type=text]:focus, .form-group textarea:focus, .form-group input[type=email]:focus {
  border: 1px solid var(--var-color-gray);
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.form-group label {
  font-size: var(--var-font-size);
  color: var(--var-color-gray);
  margin-top: 30px;
  font-weight: 500;
}

.submission-disclaimer p{
  font-size: var(--var-font-size);
  margin-top: 4rem;
}

.css-button {
  font-size: inherit;
  padding: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  background-color: var(--var-block-button-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.ext-article{
  background-color: var(--accent-color-amber);
}

.ext-book{
  background-color: var(--accent-color-blue);
}

.ext-video{
  background-color: var(--accent-color-red);
}

.ext-other{
  background-color: var(--var-color-gray);
}

.extlink-description a {
  color: inherit;
  font-weight: 400;
}

.extlink-description {
  padding-left: 10px;
  margin-top: 10px;
}

.ext-link-key {
  padding-right: 10px;
}

.ext-key-desc {
  padding-left: 7.55px;
}


.homepage-nav a {
    color: inherit;
    text-shadow: none;
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
}

.homepage-nav a:hover {
  color: var(--accent-color-light-gray);
}

.page-header-home{
  display: none;
}

.extra-bio p {
    font-size: var(--var-font-size);
    line-height: var(--var-line-height);
}

p.extra-bio-read-more{
  font-size: var(--var-larger-font-size);
  padding-bottom: 10rem;
  padding-top: 5rem;
}

.extra-bio-read-more a {
  color: inherit;
  font-weight: 500;
}

.extra-bio-read-more a:hover {
  text-decoration: none;
  color: var(--accent-color-light-gray);
  
}

.post-sharing-options {
  padding-top: 10px;
  font-size: var(--var-font-size);
}

.post-sharing-options::before {
    content: "";
    border-bottom: 2px solid;
    width: 20px;
    position: absolute;
}

a.return-404-link {
  text-decoration: none;
}

.post-share-link a {
  padding-left: 10px;
  font-weight: 500;
}

.post-sharing-options p {
  font-size: var(--var-font-size);
}

.homepage-footer {
  padding-bottom: 10px;
}

footer {
    padding-top: 18rem;
    font-size: var(--var-font-size);
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--var-color-gray);
}

.footer-hr {
  margin: 4rem 0;
}

.footer-wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 0 50px;
}

.footer-section-logo {
  width: 20px;
}

footer img {
    padding-top: 5px;
}

footer a {
  color: inherit;
  font-weight: 500;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: var(--var-font-size);
}
  
@media (min-width: 760px){
  h1, ol.example, .avatar img, extlink-container{
    max-width: 55%;
  }
  
}


@media (max-width: 760px) {
    body {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    form {
        width: 85%;
    }
    .homepage-nav{
      display: block;
      margin-top: 20px;
    }

    hr,
    section > p,
    section > footer,
    section > table
    {
        width: 100%;
    }

    section > div.theorem-block{
        width: 90%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul,
    .cv-company-div ul {
        width: 95%;
    }
  
    .in-text-nav {
      width: 100%;
    }
  
    .nav-home {
      display: none;
  }

      nav.nav-home-mobile {
      display: block;
      left: 0;
      top: 0;
      background: inherit;
      padding: 10px 0;
      color: inherit;
      font-weight: 600;
      font-size: var(--var-larger-font-size);
  }

    figure {
        max-width: 85%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-right: 0;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
  
  .footer-wrap {
    gap: 0 40px;
}
 
}
