:root{
  --serif-font: "Times New Roman", serif;
  --font-size: 18px;
  --larger-font-size: 20px;
  --text-color: #1F1A17;
  --bg-color: #FFF8F0;
  --secondary-color: #625D55;
}

body{
  font-family: var(--serif-font) !important;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.15);
  color: var(--text-color);
  /* slightly off-white background */
}

.navbar, body, .form-control {
  background-color: var(--bg-color);
}

.text-body-secondary, a{
  color: var(--secondary-color) !important;
  opacity: 0.8;
}

li a:hover{
  text-decoration: underline !important;
}

a:hover{
  opacity: 1;
}

h1{
  font-size: var(--larger-font-size) !important;
  font-weight: bold;
}

h2{
  font-size: var(--font-size) !important;
  font-weight: bold;
}

p[lang="gk"], span[lang="gk"]{
  font-style: italic;
}

section:not(:first-of-type) {
  padding-top: 3em;
}

/* Make footnote numbers look like regular text (no clicks) */
sup > a.footnote {
  pointer-events: none; /* Disables clicking */
  text-decoration: none;
  color: inherit;
  cursor: text;
}

/* Hide the back-link arrows in case they slip through */
.reversefootnote {
  display: none;
}

blockquote{
  font-size: 16px;
}

/* 1) Make all images grayscale  with a slight blur */
img{
  -webkit-filter: grayscale(100%) blur(0.8px);
  filter: grayscale(100%) blur(0.8px);
}

img.noblur, .noblur > img{
  -webkit-filter: grayscale(100%) blur(0);
  filter: grayscale(100%) blur(0);
}

.w-25{
  width: 25% !important;
}


.fig-div{
  margin-top: 3em;
  margin-bottom: 3em;
}
p>img{
  width: 100%;
}
@media (max-width: 575.98px){

  .container-fluid.px-5{
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }

  p, p>img{
    width: 100%;
    max-width: 90vw;
  }
}

div.post-content p{
  margin: 0;
}

p {
  margin:0;
}

article.post-content p:not(:first-of-type){
  text-indent: 2em;
}

p.noindent {
  text-indent: 0;
}

.hangind{
  padding: 1em 0;
}
  
article.post-content .hangind p, p.hangind{
  padding-left: 20px ;
  text-indent: -20px;
  margin:0 ;
}

blockquote{
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

a.navbar-brand {
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--text-color) !important;
}


.noindent {
  text-indent: 0 !important;
}

span[lang="ird"], .ird{
  font-style: italic;
}

.refs li.is-target {
  background: rgba(255, 230, 150, 0.45);
  border-radius: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.refs li:target {
  background: rgba(255, 230, 150, 0.45);
  border-radius: 0.5rem;
}

.refs a {
  text-decoration: none;
}
