---
layout: container
title: Archive
---

<div class="publish-wrap">
{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
	
{% for year in postsByYear %}
<div class="publish-wrap-year">
  <h2>{{ year.name }}</h2>
      {% for post in year.items %}
        <div class="publish-div">
	    <div class="publish-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
	    <div class="publish-date">{{post.date | date: '%B %-d' }}</div>
	</div>
      {% endfor %}
</div>
	
{% endfor %}

</div>
