---
layout: container
title: Blog Posts
namespace: Blog Posts
---

<div class="publish-wrap">

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    
    {% endif %}

    <div class="publish-div">
	<span class="publish-title"><b>{{ post.title }}</b></span> <span class="publish-date">{{post.date | date: '%B %-d' }}</span>
	    <div><span>{{ post.content | strip_html | truncatewords: 25 }}</span> <a href="{{ post.url }}" title="{{ post.title }}"><i class="fa fa-arrow-right" aria-hidden="true"></i>  </a></div>
	</div>

    {% if forloop.last %}
    {% else %}
        {% if this_year != next_year %}
        
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        {% endif %}
    {% endif %}
{% endfor %}

</div>
