---
layout: container
title: Notes Archive
---




<div class="my-5">
  <h1 class="fs-4 mt-5">
    Notes
  </h1>
	<p class="fs-6 mt-5">I’ve been writing for as long as I can remember. The impulse to write has always been as primal—as inevitable—to me as the impulse to breathe. Below is an index of some of the things I’ve written through the years, and occasionally, updates about the goings-on in my life.</p>
</div>
	
{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<div>
{% for year in postsByYear %}
<div class="mb-5">
  <h2 id="id-h2-{{ year.name }} " class="fs-6 fw-semibold pt-5"><span class="border-top pt-2 border-secondary border-2"> {{year.name }}</span></h2>
      {% for post in year.items %}
      <div class="row my-4">
			<div class="col-lg-auto  fw-medium">{{post.date | date: '%m/%d' }}</div>
	    	<div class="col-md-8"><a href="{{ post.url }}">{{ post.title }}</a></div>
	    	
		</div>
      {% endfor %}
</div>
{% endfor %}

</div>
