---
layout: default
title: Index of Online Grammar
irdsec: Grammar
---
<h1>{{ page.title }}</h1>
<p> The glosses are still a work in progress but you can download the grammar as a pdf file or compile the latex code yourself <a href="https://github.com/roelchristian/iridian-reference-grammar">here.</a></p>

<ul>
  {% for chapt in site.data.grammar.main %}
    <li>
      <a href="{{ page.url }}{{ chapt.curl }}">{{ chapt.chapter }}</a>
        <ul>
          {% for sec in chapt.subs %}
            <li>
              <a href="{{ chapt.curl }}#{{ sec.tag }}">{{ sec.section }}</a>
            </li>
          {% endfor %}
        </ul>
    </li>
  {% endfor %}
</ul>
