<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cardo" />
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open-Sans" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<div class="nav-up">
					<a href="/">Home</a> / <a href="/blog">Blog</a> / <a href="/blog/{{ page.date | date: '%Y' }} ">{{ page.date | date: '%Y' }}</a> / <a href="/blog/{{ page.date | date: '%Y'}}/{{ page.date | date: '%m' }}">{{ page.date | date: '%B' }}</a> / <b>{{ page.date | date: '%d' }}</b>
			</div>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<div class="footer">
				 <p>© 2020 Roel Christian Yambao. All rights reserved.</p>
				 <p>
					 <span class="footer-link">Sitemap</span>
					 <span class="footer-link"> <a href="/me/contact">Contact Me</a></span>
					 <span class="footer-link">Terms</span>
				 </p>
			</div>
		</body>
	</html>
