
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Call landing page stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/landing.css">

    <!-- Reference to Google Fonts-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cardo" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open-Sans" />

    <!-- For mobile scaling-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>


    <div class="namespace">
      {{ page.namespace }}
    </div>


    <div class="container">

        {{ content }}

    </div>


    <div class="footer">
       © 2020 Roel Christian Yambao.
    </div>


  </body>
</html>
