<!DOCTYPE html>
{% include header.html %}


{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}


<body>
    <div class="wrapper">
    <div class="blog-head">
        
     <div class="by-line">
         <div class="blog-post-nav"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a> <a href="../"><i class="fa fa-arrow-up" aria-hidden="true"></i>&nbsp;Blog Index</a></div>

           <div class="post-date-nav">{{page.date | date: '%B %d, %Y' }}</div>

      </div>
        
      {% if page.namespace %}

      <div class="top-blog">
          <h1>{{ page.namespace }}</h1>
      </div>

      {% elsif page.displaytitle %}

      <div class="top-blog">
          <h1>{{ page.displaytitle }}</h1>
      </div>

      {% endif %}

      
    </div>

    <div class="container">

      {{ content }}

    </div>
  </div>
</body>
</html>
