<!DOCTYPE html>
{% include header.html %}


{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}


<body>
    <div class="wrapper">
    <div class="blog-head">
      {% if page.namespace %}

      <div class="top-blog">
          <h1>{{ page.namespace }}</h1>
      </div>

      {% elsif page.displaytitle %}

      <div class="top-blog">
          <h1>{{ page.displaytitle }}</h1>
      </div>

      {% endif %}

      <div class="by-line">

        <span class="author">{% if page.author %}{{ page.author }}{% else %}Roel Christian Yambao{% endif %} &middot; </span>{{page.date | date: '%B %d, %Y' }} <br>
        <a href="#article">Read</a> &middot; <a href="../">Return</a>

      </div>
    </div>

    <div class="container">

      {{ content }}

    </div>
  </div>
</body>
</html>
