<!DOCTYPE html>
{% include header.html %}

{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}

<body>
<nav class="navbar navbar-expand-sm sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{ site.url | replace: 'https://', '' | replace: 'http://', '' | split: '/' | first }}
</a> <div>/&nbsp;{{ page.title }}</div>
  </div>
</nav>

<div class="container-fluid px-5">
      {{ content }}
</div>
</body>
</html>
