<!DOCTYPE html>
{% include header.html %}

{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}


<body>
    <div class="wrapper">
          
          <div class="return-landing"><a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Home
            </a></div>

      {% if page.namespace %}
      <div class="toplogo">
          <h1>{{ page.namespace }}</h1>
      </div>

      {% elsif page.displaytitle %}

      <div class="toplogo">
          <h1>{{ page.displaytitle }}</h1>
      </div>

      {% endif %}     

      </div>

    <div class="container">

      {{ content }}

    </div>
  </div>
</body>
</html>
