
<!DOCTYPE html>

{% include header_landing.html %}

<body>
  <div class="main-wrapper">
    <div class="err-greet">
      <h1 >
        {{ page.namespace }}
      </h1>

    </div>

    <div class="error-message">
      {{ content }}
    </div>

     <div class="social">
        {% for social in site.data.social %}
        <a class="hvr-icon-float" href="{{ social.link }}" target="_blank" rel="noreferrer">
          <i class="soc-link fa fa-{{ social.name }} hvr-icon" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>

  </div>


</body>
</html>
