<!DOCTYPE html>
{% include header.html %}


{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}


<body>
    <div class="wrapper">

      <div class="head-cont">
        <div><a href="../"><i class="fa fa-home home-page-mobile" aria-hidden="true"></i>
</a></div>

      {% if page.namespace %}
      <div class="toplogo">
          <h1>{{ page.namespace }}</h1>
      </div>

      {% elsif page.displaytitle %}

      <div class="toplogo">
          <h1>{{ page.displaytitle }}</h1>
      </div>

      {% endif %}

      <div class="home-page">
        <span><a href="../">Home</a></span> &middot;
        <span><a href="../blog">Blog</a></span> &middot;
        <span><a href="../links">Links</a></span> &middot;
        <span><a href="../contact">Contact</a></span>

      </div>
      

      </div>

    <div class="container">

      {{ content }}

    </div>
  </div>
</body>
</html>
