<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- search -->
			{% if page.tipue_search_active or layout.tipue_search_active %}
					<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
					<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
					<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
					<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
					<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
				{% endif %}

		</head>
		<body>
			<nav>
        <ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/grammar">Grammar Notes</a></li>
        		<li><a href="/dictionary">Dictionary</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <ul>
            <li><a href="https://github.com/roelchristian">Github</a></li>
            <li><a href="https://gimlafraogh.wordpress.com">Wordpress</a></li>
            <li><a href="https://twitter.com/roelzinho">Twitter</a></li>
      </ul>
			</footer>
		</body>
	</html>
