<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cardo" />
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<div class="nav-up">
					<a href="../../">Home</a> / <a href="../">Iridian</a> / <b>{{ page.irdsec}}</b>
			</div>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<div class="footer">
	    © 2020 Roel Christian Yambao.
		</div>
		</body>
	</html>
