<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cardo" />
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<div class="site-header">
				Ircevn&iacute; Malno
			</div>
			<nav>
        <ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/grammar">Grammar Notes</a></li>
        		<li><a href="/dictionary">Dictionary</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <ul>
            <li><a href="https://github.com/roelchristian">Github</a></li>
            <li><a href="https://gimlafraogh.wordpress.com">Wordpress</a></li>
            <li><a href="https://twitter.com/roelzinho">Twitter</a></li>
      </ul>
			</footer>
		</body>
	</html>
