<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<nav>
        <ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/grammar">Grammar Notes</a></li>
        		<li><a href="/dictionary">Dictionary</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

       <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
       <script src="/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
       <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
       <script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>
       <script src="/js/URI.min.js" type="text/javascript" charset="utf-8"></script>
       <script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
			<footer>
        <ul>
            <li><a href="https://github.com/roelchristian">Github</a></li>
            <li><a href="https://gimlafraogh.wordpress.com">Wordpress</a></li>
            <li><a href="https://twitter.com/roelzinho">Twitter</a></li>
      </ul>
			</footer>
		</body>
	</html>
