---
layout: default
title: {{ word | append: ' - Iridian Dictionary' }}
---

<div class="entry">
  <span><b>{{ page.word }}</b> /{{ page.ipa }}/</span>

  <p>{{page.definition}}</p>

  <p>{{ page.etymology }}</p>

</div>
<div class="examples">
  {{ page.examples }}
</div>

{% if page.partofspeech == "noun" %}

<div class="decl-table">
  <h3>Declension table</h3>
  <table>
    <tr>
      <td><b>Agentive</b></td>
      <td>{{ page.agentive }}</td>
    </tr>
    <tr>
      <td><b>Patientive</b></td>
      <td>{{ page.patientive }}</td>
    </tr>
    <tr>
      <td><b>Genitive</b></td>
      <td>{{ page.genitive }}</td>
    </tr>
    <tr>
      <td><b>Instrumental</b></td>
      <td>{{ page.instrumental }}</td>
    </tr>
  </table>
</div>

{% endif %}

{% if page.relcount %}
<div class="related-words">
  <p class="breakAfter">See also: {{ page.relwords }}</p>
</div>
{% endif %}

<div class="back-to-index">
  <p class="breakAfter"><a href="https://roelchristian.github.io/dictionary">&lt; Back to Alphabetical Index</a>
</p>
</div>
