<!DOCTYPE html>


{% include header_landing.html %}

<body>


  <div class="main-wrapper">

    <div class="greet">
      <h1> {{page.greeting}}</h1>
      <div class="landing-blurb">Welcome to my little piece of the internet.</div>
    </div>


      <div class="arrow-down-home"><a href="#me"><i class="fa fa-angle-down arrow-down-arrow" aria-hidden="true"></i></a>

      </div>

      <div id="me">
        Omnis aperiam quo ea incidunt aut nemo nisi deserunt. Perferendis hic fuga magnam molestias qui harum eos optio. Ducimus quo eaque dolorum voluptatem voluptas tempora ut dolor. Voluptas recusandae est impedit. Maxime reiciendis numquam est atque quia. Sed aut velit deleniti et quia ut delectus.
<p>
        Exercitationem deserunt rerum voluptatibus repudiandae fugit. Debitis non et quae. Eum ullam a illum. Explicabo pariatur explicabo sit sit aut dolor.
<p>
        Repellat quibusdam aut quas. Veniam voluptates nemo molestiae distinctio aut voluptates. Repudiandae hic natus placeat soluta omnis doloremque.

      </div>

    <div class="homenav">
      <a href="/cv">R&eacute;sum&eacute;</a> /
      <a href="/blog">Blog</a> /
      <a href="/links">Links</a> /  
      <a href="/contact">Contact</a>
    </div>
    <div class="social">
        {% for social in site.data.social %}
        <a class="hvr-icon-float" href="{{ social.link }}" target="_blank" rel="noreferrer">
          <i class="soc-link fa fa-{{ social.name }} hvr-icon" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>


  </div><!-- main-wrapper -->

      <footer>
      
      <div class="footer">
        <div class="foottext">
          © 2020 by Roel Christian Yambao. All rights reserved &middot; <a href="/terms">Terms of Use </a> &middot; Ver esta p&aacute;gina <a href="/es">en espa&ntilde;ol </a> &middot; Tamb&eacute;m dispon&iacute;vel <a href="/pt">em portugu&ecirc;s</a>
        </div>
      </div>
      <div class="footer-mobile">
        <a href="/terms">Terms</a> &middot; <a href="/es">Espa&ntilde;ol</a> &middot; <a href="/pt">Portugu&ecirc;s</a>
      </div>
    </footer>



</body>
</html>
