
<!DOCTYPE html>
<html lang="es">
{% include header_landing.html %}

<body>


  <div class="main-wrapper">

    <div class="greet" id="greet-container">
      <h1> {{page.greeting}}</h1>
      <div class="landing-blurb">Bienvenido a mi peque&ntilde;o pedacito del internet.</div>
    


      <div class="arrow-down-home"><a id="arrow" href="#hidden" onclick="toggle('hidden');"><i class="fa fa-angle-down arrow-down-arrow" aria-hidden="true"></i></a>
        </div>
    </div>

      <div id="hidden">
        Hola! Soy Roel, un diletante de veinte y pico a&ntilde;os. Me encanta leer y ver filmes. Me form&eacute; en contabilidad y llevo tres a&ntilde;os trabajando como un analista en la industr&iacute;a financiera y en inform&aacute;tica. Tambi&eacute;n escribo y puedes clicar abajito para leer mi blog donde guardo mis divagaciones en toda su incoherencia.


    <div class="homenav">
      <a href="/cv">Cur&iacute;culo</a> &middot;
      <a href="/blog">Blog</a> &middot;
      <a href="/links">Enlaces</a> &middot;
      <a href="/contact">Contacto</a>
    </div>
    <div class="social">
        {% for social in site.data.social %}
        <a class="hvr-icon-float" href="{{ social.link }}" target="_blank" rel="noreferrer">
          <i class="soc-link fa fa-{{ social.name }} hvr-icon" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>
 <footer>
      
      <div class="footer">
        <div class="foottext">
          <a href="/terms">T&eacute;rminos de uso</a> &middot; <a href="../">Englsh</a> &middot; <a href="/pt">Portugu&ecirc;s</a>
        </div>
      </div>
      <div class="footer-mobile">
        <a href="/terms">T&eacute;rminos</a> &middot; <a href="/es">Espa&ntilde;ol</a> &middot; <a href="/pt">Portugu&ecirc;s</a>
      </div>
    </footer>


      </div>
  </div><!-- main-wrapper -->

     
<script language="JavaScript">

    function toggle(id) {
        var state = document.getElementById(id).style.display;
        document.getElementById(id).style.display = 'block';
        document.getElementById("greet-container").style.display = 'none';
        document.getElementById("arrow").innerHTML = "<i class='fa fa-angle-up arrow-down-arrow' aria-hidden='true'></i>";
    } 
    
</script> 

</body>
</html>
