
<!DOCTYPE html>
<html lang="es">
{% include header_landing.html %}

<body>

  <div class="main-wrapper">

    <div class="greet">
      <h1>{{ page.greeting }}</h1>
    </div>
    <hr width="20%">
    <div class="subgreet">
      {{ page.blurb }}
    </div>


    <div class="homenav">
      <a href="/es/cv">Currículo</a> /
      <a href="/blog">Blog</a> /
      <a href="/me/links">Enlaces</a> /
      <a href="/contact">Contacto</a>
    </div>
    <div class="social">
        {% for social in site.data.social %}
        <a class="hvr-icon-float" href="{{ social.link }}" target="_blank" rel="noreferrer">
          <i class="soc-link fa fa-{{ social.name }} hvr-icon" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>

  </div><!-- main-wrapper -->
        <footer>
      
      <div class="footer">
        <div class="foottext">
          © 2020 Roel Christian Yambao. Todos los derechos reservados &middot; <a href="/terms">Pol&iacute;tica de uso (en ingl&eacute;s)</a> &middot; View the website <a href="..">in English</a> &middot; Tamb&eacute;m dispon&iacute;vel <a href="/pt">em portugu&ecirc;s</a>
        </div>
      </div>
    </footer>
</body>
</html>
