
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Call landing page stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/landing.css">

    <!-- Reference to Google Fonts-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cardo" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- For mobile scaling-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>

  <div class="main-wrapper">

    <div class="namespace">
      Roel Christian Yambao
    </div>
    <div class="blurb">
      <div class="blurb-text">
          {{ page.blurb }}
      </div>
    </div>

    <div class="nav-bottom">

      <a href="/curiosities">Stuff I Like</a> /
      <a href="/projects"> Projects</a> /
      <a href="/blog">Blog</a> /
      <a href="/me/about"> Profile</a>

    </div>

    <div class="social">
      {% for social in site.data.social %}
        <a href="{{ social.link }}" target="_blank">
          <img src="/assets/icons/{{ social.name }}.svg" alt="{{ social.name }}" size="10px">
        </a>
      {% endfor %}
    </div>

    <div class="footer">
       © 2020 Roel Christian Yambao.
    </div>


  </div><!-- main-wrapper -->

  </body>
</html>
