
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Call common stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <!-- Call landing page stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">

  <!-- Reference to Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,300i,400,500,600&display=swap&subset=cyrillic,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oranienbaum&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

  <!-- For mobile scaling-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon.png"/>




</head>



<body>

  <div class="main-wrapper">

    <div class="greet">
      <h1>{{ page.greeting }}</h1>
    </div>
    <hr width="20%">
    <div class="subgreet">
      {{ page.blurb }}
    </div>


    <div class="homenav">
      <a href="/es/cv">Currículo</a> /
      <a href="/blog">Blog</a> /
      <a href="/me/links">Enlaces</a> /
      <a href="/contact">Contacto</a>
    </div>
    <div class="social">
        {% for social in site.data.social %}
        <a class="hvr-icon-float" href="{{ social.link }}" target="_blank" rel="noreferrer">
          <i class="soc-link fa fa-{{ social.name }} hvr-icon" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>

  </div><!-- main-wrapper -->
        <footer>
      
      <div class="footer">
        <div class="foottext">
          © 2020 Roel Christian Yambao. Todos los derechos reservados &middot; <a href="/terms">Pol&iacute;tica de uso (en ingl&eacute;s)</a> &middot; View the website <a href="..">in English</a> &middot; Tamb&eacute;m dispon&iacute;vel <a href="/pt">em portugu&ecirc;s</a>
        </div>
      </div>
    </footer>
</body>
</html>
