<!DOCTYPE html>
{% include header.html %}


{% assign gitlink = "https://github.com/roelchristian/roelchristian.github.io/tree/master/" %}
{% assign mysource = gitlink | append: page.path %}


<body>
<article class="post">
  
  <section class="post-details">
    <h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>
  </section>

  {{ content }}
  
  <section class="post-sharing-options">
    <p>Share this post:
      <span class="post-share-link"><a href="mailto:?subject={{ page.title }}&amp;body=Check out this article {{ site.url}}{{ page.url }}">Email</a></span>
      <span class="post-share-link"><a href="https://twitter.com/intent/tweet?text=Check out this article {{ site.url}}{{ page.url }}">Twitter</a></span>
      <span class="post-share-link"><a href="https://www.reddit.com/submit?url={{ site.url}}{{ page.url }}">Reddit</a></span>

  </section>

  
{% include footer.html %}

  
</article>
</body>
</html>


