---
layout: container-blog
---

<div class="blog-wrapper" id="article">
  {{ content }}
</div>

<div>&mdash; <a href="https:?/twitter.com/roelzinho">@roelzinho</a></div>

<div class="post-meta">
  <!---
  <div class="post-dets">
  <div class="post-pubdate"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp; {{page.date | date: '%B %d, %Y' }} </div>
  <div class="icons-share">
    <a href="http://twitter.com/share?text=I'm reading Roel's blog post, {{ page.title }}&url={{ site.url }}{{ page.url }}"target="_blank" rel="noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i> </a> <a href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title}}" target="_blank" rel="noreferrer"><i class="fa fa-reddit" aria-hidden="true"></i></a> <a href="mailto:?subject={{ page.title }}&body={{site.url}}{{page.url}}"target="_blank" rel="noreferrer"><i class="fa fa-envelope" aria-hidden="true"></i> </a>
  </div>
</div>
--->

<div class="post-nav">
  <div class="post-nav-prev {% unless page.next.url %} no-padding {% endunless %}">
    {% if page.previous.url %}
    <div class="prev-arrow"><a href="{{page.previous.url}}"><i class="fa fa-angle-left" aria-hidden="true"></i> </a></div>

    <span class="prev-next"><span class="hide-on-mobile"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;</span>Previous</span>
    <a href="{{page.previous.url}}">{{page.previous.title}}</a>

    {% endif %}
  </div>
  <div class="{% if page.next.url %} post-nav-next {% else %} none {% endif %}">
    {% if page.next.url %}
    <span class="prev-next">Next&nbsp;<i class="fa fa-angle-right hide-on-mobile" aria-hidden="true"></i></span>
    <a href="{{page.next.url}}">{{page.next.title}}</a>

    <div class="next-arrow"><a href="{{page.next.url}}"><i class="fa fa-angle-right" aria-hidden="true"></i> </a></div>
    {% endif %}
  </div>
</div>
</div>
