---
layout: default
title: Dictionary - Alphabetical Index
---

<div class="alph-list" style="margin-bottom:1.5em">
  {% for head in site.data.entries.main %}
  <span><a href="/dictionary/entry/{{ head.sortunder }}">{{ head.sortunder | capitalize }} </a></span>
  {% endfor %}
</div>

<!-- List all words -->
{% for head in site.data.entries.main %}
  {% for word in head.words %}
      <a href="/dictionary/entry/{{ head.sortunder }}/{{ word.entry }}">
        {{ word.entry }}
      </a><br/>
  {% endfor %}
{% endfor %}

<div class="back-to-index">
  <p  style="margin-bottom:1.5em"><a href="../">&lt; Back to Home Page</a>
</p>
</div>
